# macOS filesystem metadata
.DS_Store
.AppleDouble
.LSOverride
._*

# macOS volume and trash folders
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.apdisk
Network Trash Folder
Temporary Items
